In [3]:
tuple([1])

(1,)

In [7]:
l = [5, 4, 2, 6, 10]
l.remove(4)
l

[5, 2, 6, 10]

In [23]:
list1 = [ ]
list2 = [ ]
value = 1
for i in range(0, 3):
    for k in range(0, 4):
        list1.append(value)
        value += 1
    list2.append(list1)
    list1 = []

for i in range(0, 3) :
	for k in range(0, 4) :
		print("%3d" % list2[i][k], end = " ") 
	print(" ")

  1   2   3   4
  5   6   7   8
  9  10  11  12

In [1]:
'{{:{}d}}'.format(2)

'{:2d}'

In [2]:
l = [1, 2, 34 ]
l.remove(34)
l

[1, 2]

In [2]:
import numpy as np
n = 50000
for i in range(n) :
    name_list = ['윤우', '경희', '민정', '태준', '태범', '창민', '민석', '예나', '석희']
    order = []
    x = len(name_list)
    for j in range(x):
        ran_num = np.random.randint(0, x-j)
        order.append(name_list.pop(ran_num))
    # string = " -> ".join(order)+" -> "+order[0]
    print(f"\r내일 발표 할 인원 : {order[0]}  {np.around((i+1)/n*100,1)}%", end="")

내일 발표 할 인원 : 경희  100.0%